.bgwhite {
	background-color: white;
}

/* Whole document: */
body{
	font-family: Calibri;
	font-size: 12pt;
}
/* Headers */
h1, h2, h3, h4, h5, h6{
	font-size: 24pt;
}

img{
     max-width:160px;
     max-height:160px;
}
